.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.jokeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 10rem;
  border-radius: 8px;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
}