#div1{
    background-color: aquamarine;
    font-size: x-large;
}

#div2{
    background-color: blue;
    font-size: x-large;
}

.p1{
    color: rgb(229, 14, 86);
    background-color: rgb(243, 190, 228);
    font-size: large;
}

.p2{
    font-size: xx-large;
}
