
button{
    border-radius: 10px;
    height: 5rem;
    width: 10rem;
}
.EqualButton{
    background-color: green;
}
.BiggerButton{
    background-color: orange;
}
.SmallerButton{
    background-color: yellow;
}

